name: MySQL Integration Test

on:
  pull_request:
    branches: 
      - main
      - development

jobs:
  connect-remote:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_ROOT_PASSWORD: ${{ secrets.ROOT_PASSWORD }}
          MYSQL_DATABASE: "demo"
          MYSQL_ROOT_HOST: "%"
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
      
      - name: create and configure
        run: |
          touch .env
          echo port= 8080 >> .env
          echo host= 127.0.0.1 >> .env
          echo dialect= mysql >> .env
          echo user= ${{ secrets.USER }} >> .env
          echo password= ${{ secrets.PASSWORD }} >> .env
          echo database= demo >> .env
      
      - name: Install dependencies
        run: npm install
      
      - name: Run tests
        run: npm test