name: PAcker Deploy
on:
  push:
    branches:
      - dev
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup packer
        uses: hashicorp/setup-packer@main
        id: setup
        with:
          version: "1.9.4"

      - name: Initialize Packer
        run: packer init ./packer/

      - name: Edit .env file
        run: |
          echo DB_NAME=${{ secrets.DB_NAME }} >> .env
          echo DB_USER=${{ secrets.DB_USER}} >> .env
          echo DB_PASSWORD=${{ secrets.DB_PASSWORD }} >> .env
          echo DB_HOST=${{ secrets.DB_HOST }} >> .env
          echo DB_DIALECT=${{ secrets.DB_DIALECT }} >> .env

      - name: Configuring AWS Creds
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ${{ secrets.AWS_REGION}}

      - name: Zipping project
        run: zip -r webapp.zip ./

      - name: Deploy Packer
        run: packer build ./packer/aws-debian.pkr.hcl